[submodule "deps/tinyxml2"]
	path = deps/tinyxml2
	url = git://github.com/leethomason/tinyxml2.git
[submodule "deps/0x20h_Fingerprinter"]
	path = deps/0x20h_Fingerprinter
	url = git@github.com:0x20h/Fingerprinter.git
